.about {
  position: relative;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 8rem;
    background: linear-gradient(
      to bottom,
      rgba(40, 34, 26, 0.06) 0%,
      transparent 100%
    );
    pointer-events: none;
    z-index: 0;
  }

  @media (max-width: 1500px) {
    width: 1100px;
  }

  @media (max-width: 1200px) {
    width: auto;
  }

  &__heading {
    display: inline-block;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1300px) {
      flex-direction: column;
    }
  }
}

.profile {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: $color-blue-dark;
  font-weight: 400;

  left: -300px;
  opacity: 0;
  transition: all 1.1s;

  // no fade in on small screen
  @media (max-width: 1301px) {
    margin-bottom: 10rem;
    left: 0;
    opacity: 1;
  }

  @media (max-width: 1000px) {
    margin-bottom: 7rem;
  }

  &__picture {
    height: 24rem;
    width: 24rem;
    margin-bottom: 4rem;
    // background-color: $color-blue-dark;

    display: flex;
    justify-content: center;
    align-items: center;
    
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid $color-border;
      box-shadow: 0 8px 32px rgba(40, 34, 26, 0.12);
      transition: all 0.3s ease;
      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 40px rgba(40, 34, 26, 0.18);
      }
    }
  }
  &__blurb {
    font-size: 1.8rem;
    width: 500px;
    line-height: 1.8;

    @media (max-width: 600px) {
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__fade-in {
    opacity: 1;
    transform: translateX(300px);

    @media (max-width: 1300px) {
      transform: translateX(0);
    }
  }
}

.skills {
  display: flex;
  justify-content: center;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 25px;

      @media (max-width: 410px) {
        margin-right: 15px;
      }

      @media (max-width: 300px) {
        margin-right: 10px;
      }
    }
  }
  &__item {
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 160px;

    border: 1px solid $color-border;
    border-radius: 10px;
    background-color: rgba($color-background-light, 0.6);

    transition: transform 0.2s, opacity 1.2s;
    overflow: hidden;

    @media (max-width: 1500px) {
      height: 90px;
      width: 145px;
    }

    @media (max-width: 1300px) {
      opacity: 1;
      border-width: 2px;
    }

    @media (max-width: 1000px) {
      height: 80px;
      width: 130px;
    }

    @media (max-width: 600px) {
      height: 70px;
      width: 115px;
    }

    @media (max-width: 500px) {
      height: 60px;
      width: 100px;
    }

    @media (max-width: 410px) {
      height: 50px;
      width: 80px;
    }

    @media (max-width: 340px) {
      height: 45px;
      width: 70px;
    }

    // @media (max-width: 350px) {
    //   height: 40px;
    //   width: 65px;
    // }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @media (max-width: 410px) {
        margin-bottom: 15px;
      }
    }

    & img {
      // position: relative;
      // top: -0.8rem;
      height: 60px;
      width: auto;
      transition: all 0.2s;

      @media (max-width: 1500px) {
        height: 55px;
      }

      @media (max-width: 1000px) {
        height: 50px;
      }

      @media (max-width: 600px) {
        height: 45px;
      }

      @media (max-width: 500px) {
        height: 35px;
      }

      @media (max-width: 410px) {
        height: 26px;
      }
    }

    &-name {
      // position: absolute;
      // bottom: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1;
      // opacity: 0;
      text-align: center;

      transition: all 0.2s;
      letter-spacing: 1px;

      @media (max-width: 1200px) {
        font-size: 1.4rem;
      }
    }

    // &:hover {
    //   transform: scale(1.1);

    //   & img {
    //     transform: translateY(-0.8rem);
    //   }

    //   & .skills__item-name {
    //     opacity: 1;
    //     transform: translateY(0.5rem);
    //   }
    // }

    &-fade-in {
      opacity: 1;
    }

    &--js img {
      border-radius: 5px;
    }

    &--algorithms img,
    &--python img,
    &--backend img,
    &--simulation img,
    &--datamodel img,
    &--devtool img,
    &--llm img,
    &--problemsolving img,
    &--geospatial img {
      filter: brightness(0) saturate(100%) invert(12%) sepia(30%) saturate(600%) hue-rotate(10deg) brightness(95%) contrast(95%);
    }
  }
}
