// Removed Google Fonts imports since we're using Helvetica

// Canela font face
@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela_Collection/Canela Family/Canela-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela_Collection/Canela Family/Canela-Bold-Trial.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela_Collection/Canela Family/Canela-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../assets/fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../assets/fonts/Source_Serif_4/SourceSerif4-Italic-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

$color-text: #28221A;
$color-red: #9E7E2A;
$color-background: #F0EBE0;
$color-background-light: #E5DDD0;
$color-blue: rgb(81, 162, 233);
$color-blue-dark: rgb(50, 22, 187);
$color-accent-secondary: #6B7160;
$color-border: #C8BCA4;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%; // 1 rem = 10 px (browser default is 16)

  scroll-behavior: smooth;

  @media (max-width: 1500px) {
    font-size: 57.25%;
  }

  @media (max-width: 1200px) {
    font-size: 50%;
  }

  @media (max-width: 770px) {
    font-size: 43.75%;
  }

  @media (max-width: 615px) {
    font-size: 40%;
  }

  @media (max-width: 350px) {
    font-size: 35%;
  }
}

body {
  min-height: 100vh;
  color: $color-text;
  font-family: 'Source Serif 4', 'Iowan Old Style', 'Palatino Linotype', Palatino, serif;
  background-color: $color-background;
  line-height: 1.7;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}
