.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: $color-background-light;
}

.socials {
  display: flex;
  margin-bottom: 20px;
  &__github,
  &__email,
  &__linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    background-color: transparent;
    cursor: pointer;
    // border: 2px solid $color-background;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__github {
    margin-left: 1rem;
    
    & img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
  &__email {
    margin-left: 1rem;
    
    & img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
  &__linkedin {
    margin-left: 1rem;
    
    & img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  & img {
    height: 100%;
    filter: brightness(0);
  }
}

.copyright {
  color: $color-text;
  font-size: 10px;
  font-weight: 500;
}

.return-home {
  position: absolute;
  top: -25px;

  width: 48px;
  height: 52px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  text-align: center;

  background-color: $color-red;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  &:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  & svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }
}
