@import 'base.scss';
@import 'about.scss';
@import 'animations.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'main-bg.scss';
@import 'nav.scss';
@import 'projects.scss';
@import 'typography.scss';
@import 'tooltip.scss';
@import 'ai-hero.scss';
